{% block content %}
<form action="." method="POST">{% csrf_token %}
    <h1>Quiere el documento "{{object.nombreDocumento}} de la base de datos?"</h1>
    <p><input type="submit" value="Aceptar"/> <a href="../">Cancelar</a> </p>
</form>
{% endblock %}