{% block content %}
<form method="POST" action="" enctype="multipart/form-data"> {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="Guardar"/>
        <p> <a href="/administrador">Cancelar</a></p>
</form>
{% endblock %}