{% block content %}
<h1>Pagina con Documentos de:</h1>
<h2>{{ objetct.nombreUsuario }}</h2>
<p>{{ objetct.codigoUsuario}}</p>

{% for documento in objetct.relacion.all %}
<a href="/carpetadocumentos/{{documento.documento}}"/> {{documento.nombreDocumento}} </a>
{%endfor%}



{% endblock %}