{% block content %}
<h1>Lista de Usuarios</h1>
{% for usuario in usuarios %}
    <li> <a href='{{ usuario.get_absolute_url}}'/> {{ usuario.nombreUsuario}} </a>
        <form method="GET" action="/{{usuario.codigoUsuario}}/borrarusuario/" >
            <input type="submit" value="Borrar"/>
        </form>

    </li>
{%endfor%}
<form method="GET" action="/crearusuario" >
    <input type="submit" value="Crear Usuario"/>
</form>

<h1>Lista de Documentos</h1>

{% for documento in documentos %}
    <li><a href="/carpetadocumentos/{{documento.documento}}"/> {{documento.nombreDocumento}} </a></li>
        <form method="GET" action="/{{documento.nombreDocumento}}/borrardocumento/" >
            <input type="submit" value="Borrar"/>
        </form>

{%endfor%}
<form method="GET" action="/creardocumento" >
    <input type="submit" value="Crear Documento"/>
</form>



{% endblock %}