<h1>Aca va un buscador para ingresar codigo de usuario</h1>
<form method="GET" action="">
    <input type="text" name="q" placeholder="Ingresar Codigo de Usuario" />
    <input type="submit" value="Ingresar"/>

</form>